<template>
  <div id="root">
    <Header />
    <router-link to="/">
      Перейти к Main
    </router-link>
    <router-link to="/foo">
      Перейти к Foo
    </router-link>
    <router-view />
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import VueRouter from 'vue-router';
import Header from '../components/header/Header.vue';
import Foo from '../components/foo/Foo.vue';
import Main from '../components/main/Main.vue';

const routes = [
  {
    path: '/',
    component: Main,
  },
  {
    path: '/foo',
    component: Foo,
  },
];

const router = new VueRouter({
  mode: 'history',
  routes,
});

@Component({
  router,
  components: {
    Header,
  },
})
export default class Pages extends Vue {
  temp = 'string';
}
</script>
