<template>
  <h2>Main</h2>
</template>

<script lang="ts">
const Main = {
  name: 'Main',
  data() {
    return {};
  },
};

export default Main;
</script>

<style lang="scss">
.main {
  position: relative;
}
</style>
