<template>
  <picture class="picture">
    <source
      :srcset="$loadAssets(info.images.image1024px)"
      media="(min-width: 1024px)"
      type="image/jpg"
    >
    <source
      :srcset="$loadAssets(info.images.image768px)"
      media="(min-width: 768px)"
      type="image/jpg"
    >
    <source
      :srcset="$loadAssets(info.images.image320px)"
      media="(min-width: 320px)"
      type="image/jpg"
    >
    <img
      :src="$loadAssets(info.src)"
      :alt="info.alt"
    >
  </picture>
</template>

<script lang="ts">
const Picture = {
  name: 'Picture',
  data() {
    return {};
  },
  props: ['info', 'className'],
};

export default Picture;
</script>

<style lang="sass"></style>
