<template>
  <header class="header">
    <Picture
      :info="banner"
      class="header__banner-img"
    />
    <div class="header__content">
      <h1>{{ info.title }}</h1>
      <CloseSVG class="header__svg" />
    </div>
  </header>
</template>

<script lang="ts">
import Picture from '~/base/components/picture/Picture.vue';
import CloseSVG from '~/assets/svg/close.svg';

const Header = {
  name: 'Header',
  components: {
    Picture,
    CloseSVG,
  },
  data() {
    return {
      info: {
        title: 'Header',
      },
      btnEvent: {
        btnType: 'button',
        main: true,
        text: 'Событие +',
      },
      btnRefresh: {
        btnType: 'button',
        main: false,
        text: 'Обновить',
      },
      banner: {
        src: './images/header-background.jpg',
        alt: 'Header banner',
        images: {
          image320px: './images/header-background.jpg',
          image768px: './images/header-background.jpg',
          image1024px: './images/header-background.jpg',
        },
      },
    };
  },
};

export default Header;
</script>

<style lang="scss">
.header {
  position: relative;
  width: 100%;
  height: 300px;

  &__banner-img {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      background-color: green;
    }
  }

  &__content {
    height: 100%;
    padding: 50px 15px 30px;
  }
}
</style>
