<template>
  <h2>Foo</h2>
</template>

<script lang="ts">
const Foo = {
  name: 'Foo',
  data() {
    return {};
  },
};

export default Foo;
</script>

<style lang="scss">
.foo {
  position: relative;
}
</style>
